<form class="form-container" #f="ngForm" (ngSubmit)="onSubmit()">
    <h2>Add New Worker</h2>

    <mat-form-field appearance="outline">
        <mat-label>Id</mat-label>
        <input required="true" ngModel name="id" matInput placeholder="Worker Id">
        <mat-error *ngIf="f.submitted && f.controls['id']?.invalid">Title Is Required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input required="true" ngModel name="name" matInput placeholder="Full Name">
        <mat-error *ngIf="f.submitted && f.controls['name']?.invalid">Name Is Required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Job Title</mat-label>
        <input required="true" ngModel name="jobTitle" matInput placeholder="Job Description">
        <mat-error *ngIf="f.submitted && f.controls['jobTitle']?.invalid">Job Title Is Required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Story</mat-label>
        <input required="true" ngModel name="story" matInput placeholder="What is your story?">
        <mat-error *ngIf="f.submitted && f.controls['story']?.invalid">Story Is Required</mat-error>
    </mat-form-field>
  
      <button class="submit" mat-raised-button color="primary" type="submit">Submit</button>
  </form>